/**
 * GENERAL
 * 
 * HEADER
 * - header-bimg-fullw
 * 
 * CONTENT
 * - general
 * - portfolio
 *
 * FOOTER
 * - copyright
 * - contact
 *
 * ADDON
 *
 * VENDOR
 * - magnific-popup
 * - validation
 * - bootstrap
 * - google map
 * - easy-pie-chart
 *
 * PRELOAD
 *
 * FIX
 * - layout
 * - print
 */
/*================================================================
  #GENERAL
  ================================================================*/
html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-size: cover;
  background-image: url(../media/bg/trianglify-green-light.svg);
  background-color: #fafafa;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #757575;
}
a:hover {
  color: rgba(255, 116 ,0, 0.7) !important;
  text-decoration: none;
}
.disable {
  color: #E0E0E0 !important;
}
#page {
  position: relative;
  background: rgba(255,153,0,0.6);
  background: -moz-linear-gradient(-45deg, rgba(255,153,0,0.6) 0%, rgba(117,189,209,0.66) 59%, rgba(15,102,86,0.7) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,153,0,0.6)), color-stop(59%, rgba(117,189,209,0.66)), color-stop(100%, rgba(15,102,86,0.7)));
  background: -webkit-linear-gradient(-45deg, rgba(255,153,0,0.6) 0%, rgba(117,189,209,0.66) 59%, rgba(15,102,86,0.7) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,153,0,0.6) 0%, rgba(117,189,209,0.66) 59%, rgba(15,102,86,0.7) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,153,0,0.6) 0%, rgba(117,189,209,0.66) 59%, rgba(15,102,86,0.7) 100%);
  background: linear-gradient(135deg, rgba(255,153,0,0.6) 0%, rgba(117,189,209,0.66) 59%, rgba(15,102,86,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#0f6656', GradientType=1 );
}
@media (min-width: 992px) {
  #page {
    margin: 48px auto;
  }
}
@media (min-width: 1200px) {
  #page {
    margin: 96px auto;
    max-width: 1060px;
  }
}
.cv-section {
  margin: 0 auto;
  padding: 60px 0;
  border-top: 1px solid #e0e0e0;
  position: relative;
  *zoom: 1;
}
.cv-section:before,
.cv-section:after {
  content: "";
  display: table;
}
.cv-section:after {
  clear: both;
}
@media (min-width: 992px) {
  .cv-section {
    width: 944px;
  }
}
.cv-section-fullw {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 992px) { 
  .cv-section-fullw {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .cv-section-fullw {
    width: 1060px;
  }
}
.fullw {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 992px) {
  .fullw {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullw {
    width: 1060px;
  }
}
.multi-column .cv-item {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .multi-column .cv-item {
    margin-bottom: 0;
  }
}
.multi-column > div:last-child .cv-item {
  margin-bottom: 0;
}
/*================================================================
  #HEADER
  ================================================================*/
#header h1,
#header h2 {
  color: #fafafa;
  font-weight: 300px;
  max-width: 422px;
}
#header > .cv-section {
  border-top: 10px solid #757575;
}
#header .social-box {
  height: 32px;
  width: 192px;
}
@media print {
  #header .social-box {
    display: none;
  }
}
#header .social-box i {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-size: 26px;
  float: left;
  color: #fafafa;
  margin-right: 8px;
  margin-bottom: 8px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#header .social-box i:hover {
  background-color: #ffb300;
  border-radius: 130px; 
  -webkit-border-radius: 130px; 
  -moz-border-radius: 130px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
  za-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#header .social-box a:last-child i {
  margin-right: 0;
}
/*================================================================
  #HEADER - header-bimg-fullw
  ================================================================*/
.header-bimg-fullw {
  opacity: 1;
  background: url(../media/bg/animate-bg.png) no-repeat;
  background-size: cover;
  background-color: rgba(255,167,0,0.7);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-color: #607d8b;
  -webkit-animation:moving 20s ease infinite;
}
/* create the animation */
@-webkit-keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 500px;
  }
}​
@media (max-width: 481px) {
  .header-bimg-fullw h2 {

  } 
}
@media (min-width: 992px) {
  .header-bimg-fullw { 
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .header-bimg-fullw {
    width: 1060px;
  }
}
.header-bimg-fullw.cv-section + .cv-section {
  border-top: none;
}
@media (min-width: 768px) {
  .header-bimg-fullw {
    color: #fafafa;
  }
}
@media (min-width: 1200px) {
  .header-bimg-fullw {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.header-bimg-fullw h1 {
  font-size: 60px;
  margin-top: 0;
  font-family: 'Poiret One', cursive;
  text-shadow: 0 0 8px;
}
.header-bimg-fullw h2 {
  text-shadow: 0 0 6px;
  text-align: center;
  background-color: rgba(255, 116 ,0, 0.7);
  display: block;
  margin: 0;
  line-height: 24px;
  font-size: 24px;
  padding: 12px;
  font-family: 'Poiret One', cursive;
}

.header-bimg-fullw .social-box {
  margin-top: 24px;
  text-shadow: 0 0 8px;
}
.header-bimg-fullw .contact-info {
  margin-top: 24px;
  font-size: 22px;
  line-height: 22px;
  font-family: 'Poiret One', cursive;
  text-shadow: 0 0 8px;
}
.header-bimg-fullw .contact-info a {
  color: rgba(255, 116 ,22, 1);
  text-shadow: 0 0 3px ;
  text-decoration: none;

}
.header-bimg-fullw .contact-info a:hover {
  text-shadow: 0 0 8px maroon;
  text-decoration: none;
}
.header-bimg-fullw .contact-info a:last-child {
  color: #fafafa;
  text-shadow: 0 0 8px;
  font-size: 24px;
  text-decoration: none;
}
.header-bimg-fullw .contact-info a:last-child:hover {
  text-shadow: 0 0 8px maroon;
  text-decoration: none;
}
.fav:hover {
  color: rgba(255, 116 ,0, 0.7);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.fav:focus {
  color: coral;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*================================================================
  #CONTENT
  ================================================================*/
#content > .cv-section:first-child {
  border-top: 0;
  font-family: 'Poiret One', cursive;
}
#content > .cv-section:first-child h2 {
  font-size: 34px;
}
.content h2 {
  margin: 0;
  font-size: 29px;
  text-shadow: 0 0 8px;
  font-weight: 300;
  color: #fafafa;
  margin-bottom: 48px;
}
.content h3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #fafafa;
  text-shadow: 0 0 8px;
}
.content h4 {
  font-size: 22px;
  color: #fafafa;
  text-shadow: 0 0 8px;
}
.content h5 {
  font-size: 28px;
  color: rgba(255, 116 ,0, 0.9);
  text-shadow: 0 0 4px coral;
}
.content p {
  font-size: 16px;
  text-shadow:0 0 3px aquamarine;
}
.content .fa {
  color: #757575;
}
.cv-item {
  *zoom: 1;
}
.cv-item:before,
.cv-item:after {
  content: "";
  display: table;
}
.cv-item:after {
  clear: both;
}
.cv-item + .cv-item {
  border-top: 1px solid #e0e0e0;
  margin-top: 48px;
  padding-top: 48px;
}
.cv-item.list {
  border: none;
  margin: 0;
  padding-top: 28px;
}
.cv-item.list:first-child {
  padding-top: 0;
}
.cv-item.list h3 {
  font-weight: normal;
  color: #fafafa;
  text-shadow: 0 0 8px;
  text-align: left;
}
@media (min-width: 992px) {
  .cv-item.list:last-child h3 {
    margin: 0;
  }
}
ul {
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  text-shadow:0 0 3px aquamarine;
}
li:before {
  content:"\232A";
  font-size: 12px;
  margin-right: 8px;
  top: -2px;
  position: relative;
  color: #fafafa;
  text-shadow: 0 0 2px;
}
.icon-star{
  color: #fafafa;
  text-shadow: 0 0 8px;
}
.cv-item small {
  font-size: 18px;
  color: #fafafa;
  text-shadow: 0 0 8px;
}
.bs-component small{
  font-size: 18px;
  color: #fafafa;
  text-shadow: 0 0 8px;
}
/*================================================================
  #pre.sh_sourceCode (interprete de código)
  ================================================================*/
pre.sh_sourceCode {
  background: rgba(161,133,20,0.6);
  background: -moz-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(161,133,20,0.6)), color-stop(59%, rgba(117,189,209,0.53)), color-stop(100%, rgba(68,163,155,0.48)));
  background: -webkit-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -o-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: -ms-linear-gradient(-45deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  background: linear-gradient(135deg, rgba(161,133,20,0.6) 0%, rgba(117,189,209,0.53) 59%, rgba(68,163,155,0.48) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a18514', endColorstr='#44a39b', GradientType=1 );
  background-size: cover;
  border: 2px solid #fafafa;
  box-shadow: 0 0 8px #fafafa;
  -webkit-box-shadow: 0 0 8px #fafafa; 
  za-moz-box-shadow: 0 0 8px #fafafa;
  padding-right: 15px;
  margin-left: -15px;
  margin-right: -15px;
}  
/*================================================================
  #CONTENT - portfolio
  ================================================================*/
.portfolio img {
  width: 212px;
  max-width: 216px;
  max-height: 144px;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 2px solid #fafafa;
  box-shadow: 0 0 8px #fafafa;
  -webkit-box-shadow: 0 0 8px #fafafa; 
  za-moz-box-shadow: 0 0 8px #fafafa;
}
.port-item {
  overflow: visible;
}
@media (max-width: 767px) {
  .port-item {
    width: 100% !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .port-item {
    width: 50% !important;
  }
}
/*================================================================
  #FOOTER - copyright
  ================================================================*/
.copyright {
  height: 48px;
  margin: 0 auto;
  background-color: rgba(255,167,0,0.7);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .copyright {
    width: 944px;
  }
}
.copyright p {
  text-align: center;
  color: #fafafa;
  line-height: 48px;
  font-size: 18px;  
  text-shadow: 0 0 8px;
}
/*================================================================
  #FOOTER contact
  ================================================================*/
#contact-section {
  top: 244px;
  position: fixed;
  z-index: 1025;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e0e0e0;
  padding: 24px;
  width: 324px;
  right: -324px;
}
@media print {
  #contact-section {
    display: none;
  }
}
#contact-section .contact-welcome {
  margin-bottom: 24px;
}
#contact-section-second input,
#contact-section-second textarea {
  margin-bottom: 12px;
}
#contact-section-second input + .error-msg,
#contact-section-second textarea + .error-msg {
  margin: 0;
}
#contact-section-second h2 {
  margin-bottom: 24px;
}
#contact-section .panel-title,
#contact-section-second .panel-title {
  text-transform: uppercase;
}
#contact-section input,
#contact-section-second input,
#contact-section textarea,
#contact-section-second textarea {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#contact-section textarea,
#contact-section-second textarea {
  resize: none;
}
#contact-section .form-control:focus,
#contact-section-second .form-control:focus {
  border-color: #ffb300;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 179, 0, 0.6);
  box-shadow: 0px 0px 1px 1px rgba(255, 179, 0, 0.6);
}
#contact-section .form-group,
#contact-section-second .form-group {
  margin-bottom: 12px;
}
#contact-section [type="submit"],
#contact-section-second [type="submit"] {
  background-color: #757575;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contact-section [type="submit"]:hover,
#contact-section-second [type="submit"]:hover {
  background-color: #ffb300;
}
#contact-section .form-group:last-child,
#contact-section-second .form-group:last-child {
  margin-bottom: 0;
}
/*================================================================
  #ADDON
  ================================================================*/
.addon .addon-left {
  left: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.addon .addon-right {
  right: 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.addon .settings-btn,
.addon .contact-btn,
.addon .to-top-btn,
.addon .print-btn,
.addon .download-btn {
  background-color: #FFF;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
  display: block;
  width: 48px;
  height: 48px;
  color: #757575;
  position: fixed;
  display: none;
}
@media print {
  .addon .settings-btn,
  .addon .contact-btn,
  .addon .to-top-btn,
  .addon .print-btn,
  .addon .download-btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .addon .settings-btn,
  .addon .contact-btn,
  .addon .to-top-btn,
  .addon .print-btn,
  .addon .download-btn {
    display: block;
  }
}
.addon .contact-btn {
  top: 192px;
}
.addon .to-top-btn {
  bottom: 152px;
}
.addon .print-btn {
  bottom: 100px;
}
.addon .download-btn {
  bottom: 48px;
}
/*================================================================
  #VENDOR - magnific-popup
  ================================================================*/
.mp-caption {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-zoom {
  display: block-inline;
  width: 216px;
  height: 114px;
  margin: 0 auto;
}
.mfp-title {
  text-shadow:0 0 8px;
  padding: 6px 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing.mfp-bg,
.mfp-with-zoom.mfp-removing .mfp-container {
  opacity: 0;
}
/*================================================================
  #VENDOR - validation
  ================================================================*/
label.error-msg {
  color: #d32f2f;
  font-weight: normal;
  margin-top: 12px;
  padding-left: 4px;
}
/*================================================================
  #VENDOR - bootstrap
  ================================================================*/
#form-error-modal,
#form-success-modal {
  display: none;
}
#form-error-modal .modal-content,
#form-success-modal .modal-content {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.modal-backdrop {
  background: rgba(252, 252, 252, 0.9);
}
body.modal-open {
  padding-right: 0 !important;
}
#form-success-alert,
#form-error-alert {
  border: none;
  margin-top: 24px;
  margin-bottom: 0px;
}
/*================================================================
  #VENDOR - google map
  ================================================================*/
.gmap {
  height: 353.33333333px;
  background-color: #fcfcfc;
  border-corner-shape: scoop;
  border-radius: 192px 192px 192px 192px;
  border: 2px solid #fafafa;
  box-shadow: 0 0 8px #fafafa;
  -webkit-box-shadow: 0 0 8px #fafafa; 
  za-moz-box-shadow: 0 0 8px #fafafa;
}
/*================================================================
  #VENDOR - easy-pie-chart
  ================================================================*/
.pie-chart {
  position: relative;
  width: 110px;
  height: 110px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .pie-chart {
    margin-bottom: 0;
  }
}
.pie-chart .percent {
  line-height: 110px;
  text-shadow:0 0 3px green;
}
.pie-chart .percent:after {
  content: '%';
}
.pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/*================================================================
  #PRELOAD
  ================================================================*/
.box-space {
  opacity: 0;
  background-color: #fff;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0 auto;
  padding-top: 148px;
  top: 0;
  left: 0;
  z-index: 1036;
}
.loading-inner {
  width: 40px;
  margin: 0 auto;
}
.loading-section {
  width: 40px;
  height: 26px;
}
.box {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  margin-bottom: 2px;
  background: #fff;
  float: left;
}
.box:nth-child(3n+1) {
  margin-left: 0;
}
.box-dance {
  -webkit-animation: dance 840ms infinite alternate;
  -o-animation: dance 840ms infinite alternate;
  animation: dance 840ms infinite alternate;
}
.box.box-dance:nth-child(1) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.box.box-dance:nth-child(2) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.box.box-dance:nth-child(3) {
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
}
.box.box-dance:nth-child(4) {
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
}
.box.box-dance:nth-child(5) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.box.box-dance:nth-child(6) {
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.box.box-dance:nth-child(7) {
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.box.box-dance:nth-child(8) {
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s;
}
.box.box-dance:nth-child(9) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-moz-keyframes dance { 
from  {
  background: rgba(106, 194, 147, 0.9);
}
to {
  background: rgba(106, 194, 147, 0.32);
  -webkit-transform: scale(0.65);
}
} 
@-webkit-keyframes dance { 
from  {
  background: rgba(106, 194, 147, 0.9);
}
to {
  background: rgba(106, 194, 147, 0.32);
  -webkit-transform: scale(0.65);
}
} 
@-o-keyframes dance { 
from  {
  background: rgba(106, 194, 147, 0.9);
}
to {
  background: rgba(106, 194, 147, 0.32);
  -webkit-transform: scale(0.65);
}
} 
@-ms-keyframes dance { 
from  {
  background: rgba(106, 194, 147, 0.9);
}
to {
  background: rgba(106, 194, 147, 0.32);
  -webkit-transform: scale(0.65);
}
} 
@keyframes dance { 
from  {
  background: rgba(106, 194, 147, 0.9);
}
to {
  background: rgba(106, 194, 147, 0.32);
  -webkit-transform: scale(0.65);
}
} 
 .box-dance {
  -webkit-animation-name: dance;
  animation-name: dance;
}
.loading-text {
  position: fixed;
  top: 216px;
  text-align: center;
  width: 100%;
  color: #616161;
  font-size: 18px;
  font-family: 'Poiret One', cursive;
  letter-spacing: 3px;
}
/*================================================================
  #FIX - layout
  ================================================================*/
.cv-section-fullw + .cv-section {
  border-top: 0;
}
#gmap + .copyright {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;
}
@media (min-width: 992px) {
  #gmap + .copyright {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #gmap + .copyright {
    width: 1060px;
  }
}
/*================================================================
  #FIX - print
  ================================================================*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .img-circle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .cv-section {
    padding: 44px 0;
  }
}